.footer-bar
  #footer-container
    %ul
      %li
        = link_to "Contact Us", 'mailto:dietmar@lotwing.com'
      %li
        = link_to "Terms of service", '/terms-of-service'
      %li
        = link_to "Privacy policy", '/privacy-policy'
      %li
        %a{:href => "#"}
          All rights reserved.
          &copy;
          :javascript
            document.write(new Date().getFullYear());
          LotWing, LLC.
      %li{style: 'float: right; border-right: 0;'}
        = link_to "https://apps.apple.com/us/app/lotwing/id1454764747", target: "_blank" do
          = image_tag 'apple_logo_small.png', style: 'height: 45px;'
      %li{style: 'float: right'}
        = link_to "https://play.google.com/store/apps/details?id=com.lotwing", target: "_blank" do
          = image_tag 'google-play-badge.png', style: 'height: 45px;'
