.footer-bar
  #footer-container
    %ul
      %li
        = link_to "Contact Us", 'mailto:dietmar@lotwing.com'
      %li
        = link_to "Terms of service", '/terms-of-service'
      %li
        = link_to "Privacy policy", '/privacy-policy'
      %li
        %a{:href => "#"}
          All rights reserved.
          &copy;
          :javascript
            document.write(new Date().getFullYear());
          LotWing, LLC.
      %li{style: 'float: right'}
        = link_to "https://apps.apple.com/us/app/lotwing/id1454764747", target: "_blank" do
          = image_tag 'app_store_black.svg'
